body
{
	background: lightgrey;
}
h1
{
	color:red;
	text-align: center;
}
#page
{
	font-size: 1.5em;
}
.highlight
{
	color: blue;
}
#end
{
	text-align: center;
}
span
{
	font-weight: bold;
	color: green;
}